body, html {
height: 30%;
}
.bg {
background-image: url("https://i.imgur.com/6N4MyBf.jpg");
height: 800px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.signin{
 position: absolute;
  margin-top: 400px;
  margin-left:890px ;
  width:250px;
}