

.sideNav
{
    margin-left: 20px;
}

#navbarBasicExample.navbar-menu
{
    margin-left: 20px;
}

.navbar-item
{
    margin:10px;
}
#content
{
    width: 1450px;
    height:700px;
}
html, body
{
    height: 100%;
}

.is-active
{
    font-weight: bold;
}

.current
{
    color :white
}








