@import url(https://fonts.googleapis.com/css?family=Open + Sans);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    background: black;
}

.login h1 {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    text-align: center;
    margin-block-end: 15px;
    font-size: 27px;
    margin-top: 30px;
    font-family: "Varela";
}

#button23 {
    width: 370px;
    height: 50px;
    margin-top: 10px;
    margin-left: 22px;
}

input[type="password"]::placeholder {
    font-size: 16px;
}

#bordered {
    border: 1px solid black;
    box-shadow: 10px 10px #d1d1d1;
}
